<% if (typeof(messages) != 'undefined' && Object.prototype.toString.call(messages) === '[object Array]') { %>
  <% messages.forEach(function(message) { %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Woops!</strong>
      <%= message %>
    </div>
  <% }) %>
<% } %>
